body{
    background-color: white;
    font-family: myriad pro;
    text-shadow: none;
}
.btnHome{
     cursor: pointer;
}
.btnHome:hover{
    background-color: #efefef;
}
.confirm-button  {
  text-align: center;
  width: 80%;
  margin: 10px auto 0;
  height: 40px;
  border: white solid 2px;
  background-color: #dadada;
}

.confirm-button a:hover {
    color: #ff726e;
}

.confirm-button a {
    text-decoration: none;
    position: relative;
    top: 25%;
    color: #ff726e;
}